<a href="https://colab.research.google.com/github/martinboluwaji/martino/blob/master/DS026_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 1

## Reg_no: DS026

It's important that you fill in your registration number for proper documentation.

In this project you will be creating your own data set from scratch.

Follow the instructions below

## Import numpy and pandas

In [1]:
# Complete this
import numpy as np 
import pandas as pd

### Create  a dictionary (named student) of 10 students with name, relationship status, age and department columns

In [2]:
student = {'name':['bayo', 'tunde', 'bola', 'wunmi', 'jide', 'kola', 'shade', 'gideon', 'tolu', 'evelyn'],
           'relationship':['single','single','married','single', 'married', 'married', 'married', 'single','single','single'],
           'age':[20, 23, 23, 26, 30, 33, 28, 26, 27, 26],
           'department':['microbiology', 'botany', 'biochemistry', 'botany', 'microbiology', 'botany', 'botany', 'biochemistry', 'zoology', 'zoology']}

# 10 values in each of the square brackets

### Add cgpa to the dictionary

In [3]:
student['cgpa'] = [3.92, 3.55, 2.60, 4.21, 2.79, 3.50, 4.12, 3.62, 2.33, 3.49] 

# 10 values for the students' cgpa

### Remove relationship status from the dictionary

In [4]:
student.pop('relationship') 
 # fill in the key  you want to remove

['single',
 'single',
 'married',
 'single',
 'married',
 'married',
 'married',
 'single',
 'single',
 'single']

## Convert the dictionary to a dataframe(df)

In [5]:
df = pd.DataFrame(student)  
 # complete this

## Add admission_date (year, month and day)and gender columns to the dataframe

In [38]:
df['admission_date'] = ['2015-02-01 9:00','2015-02-01 9:30','2017-04-07 7:45','2016-01-07 8:10','2015-02-01 10:01','2014-01-03 10:00','2016-04-07 9:15','2017-01-07 12:00','2015-02-01 12:00','2017-04-07 9:05']
#complete the code
df['gender'] = ['m', 'm', 'f', 'f', 'm', 'm', 'f', 'm', 'f', 'f']

# Check the dataframe

In [39]:
df

     name  age    department  cgpa    admission_date gender
0    bayo   20  microbiology  3.92   2015-02-01 9:00      m
1   tunde   23        botany  3.55   2015-02-01 9:30      m
2    bola   23  biochemistry  2.60   2017-04-07 7:45      f
3   wunmi   26        botany  4.21   2016-01-07 8:10      f
4    jide   30  microbiology  2.79  2015-02-01 10:01      m
5    kola   33        botany  3.50  2014-01-03 10:00      m
6   shade   28        botany  4.12   2016-04-07 9:15      f
7  gideon   26  biochemistry  3.62  2017-01-07 12:00      m
8    tolu   27       zoology  2.33  2015-02-01 12:00      f
9  evelyn   26       zoology  3.49   2017-04-07 9:05      f

### Create the same dataframe (df2) with all the columns (name,  age, department, admission_date and gender) from a list instead of a dictionary.

In [8]:
## Check the dataframe
name=['bayo', 'tunde', 'bola', 'wunmi', 'jide', 'kola', 'shade', 'gideon', 'tolu', 'evelyn']
age=[20, 23, 23, 26, 30, 33, 28, 26, 27, 26]
department=['microbiology', 'botany', 'biochemistry', 'botany', 'microbiology', 'botany', 'botany', 'biochemistry', 'zoology', 'zoology']
cgpa = [3.92, 3.55, 2.60, 4.21, 2.79, 3.50, 4.12, 3.62, 2.33, 3.49]
admission_date = ['01-02-2015','01-02-2015','07-04-2017','07-01-2016','01-02-2015','03-10-2014','07-04-2016','07-01-2017','01-02-2015','07-04-2017']
gender = ['m', 'm', 'f', 'f', 'm', 'm', 'f', 'm', 'f', 'f']

df2 = pd.DataFrame({'Name': name, 'Age': age, 'Department': department, 'cgpa': cgpa, 'Admission_Date': admission_date, 'Gender':gender})
df2

     Name  Age    Department  cgpa Admission_Date Gender
0    bayo   20  microbiology  3.92     01-02-2015      m
1   tunde   23        botany  3.55     01-02-2015      m
2    bola   23  biochemistry  2.60     07-04-2017      f
3   wunmi   26        botany  4.21     07-01-2016      f
4    jide   30  microbiology  2.79     01-02-2015      m
5    kola   33        botany  3.50     03-10-2014      m
6   shade   28        botany  4.12     07-04-2016      f
7  gideon   26  biochemistry  3.62     07-01-2017      m
8    tolu   27       zoology  2.33     01-02-2015      f
9  evelyn   26       zoology  3.49     07-04-2017      f

## Work on the first dataframe(df) from here on

### Convert df admission_date column to datetime


 first import datetime as dt



Extract the year, month and day as separate columns within the dataset

In [40]:
import datetime as dt

df['admission_date']  = pd.to_datetime(df['admission_date'])
df.dtypes

  # convert the date to datetime object

name                      object
age                        int64
department                object
cgpa                     float64
admission_date    datetime64[ns]
gender                    object
dtype: object

In [43]:
# Complete the code and do the same for month and day
df['year'] = df['admission_date'].dt.year
df

     name  age    department  cgpa      admission_date gender  year
0    bayo   20  microbiology  3.92 2015-02-01 09:00:00      m  2015
1   tunde   23        botany  3.55 2015-02-01 09:30:00      m  2015
2    bola   23  biochemistry  2.60 2017-04-07 07:45:00      f  2017
3   wunmi   26        botany  4.21 2016-01-07 08:10:00      f  2016
4    jide   30  microbiology  2.79 2015-02-01 10:01:00      m  2015
5    kola   33        botany  3.50 2014-01-03 10:00:00      m  2014
6   shade   28        botany  4.12 2016-04-07 09:15:00      f  2016
7  gideon   26  biochemistry  3.62 2017-01-07 12:00:00      m  2017
8    tolu   27       zoology  2.33 2015-02-01 12:00:00      f  2015
9  evelyn   26       zoology  3.49 2017-04-07 09:05:00      f  2017

In [44]:
df['month'] = df['admission_date'].dt.month
df

     name  age    department  cgpa      admission_date gender  year  month
0    bayo   20  microbiology  3.92 2015-02-01 09:00:00      m  2015      2
1   tunde   23        botany  3.55 2015-02-01 09:30:00      m  2015      2
2    bola   23  biochemistry  2.60 2017-04-07 07:45:00      f  2017      4
3   wunmi   26        botany  4.21 2016-01-07 08:10:00      f  2016      1
4    jide   30  microbiology  2.79 2015-02-01 10:01:00      m  2015      2
5    kola   33        botany  3.50 2014-01-03 10:00:00      m  2014      1
6   shade   28        botany  4.12 2016-04-07 09:15:00      f  2016      4
7  gideon   26  biochemistry  3.62 2017-01-07 12:00:00      m  2017      1
8    tolu   27       zoology  2.33 2015-02-01 12:00:00      f  2015      2
9  evelyn   26       zoology  3.49 2017-04-07 09:05:00      f  2017      4

In [45]:
df['day'] = df['admission_date'].dt.day
df

,name,age,department,cgpa,admission_date,gender,year,month,day
0,bayo,20,microbiology,3.92,2015-02-01 09:00:00,m,2015,2,1
1,tunde,23,botany,3.55,2015-02-01 09:30:00,m,2015,2,1
2,bola,23,biochemistry,2.60,2017-04-07 07:45:00,f,2017,4,7
3,wunmi,26,botany,4.21,2016-01-07 08:10:00,f,2016,1,7
4,jide,30,microbiology,2.79,2015-02-01 10:01:00,m,2015,2,1
5,kola,33,botany,3.50,2014-01-03 10:00:00,m,2014,1,3
6,shade,28,botany,4.12,2016-04-07 09:15:00,f,2016,4,7
7,gideon,26,biochemistry,3.62,2017-01-07 12:00:00,m,2017,1,7
8,tolu,27,zoology,2.33,2015-02-01 12:00:00,f,2015,2,1
9,evelyn,26,zoology,3.49,2017-04-07 09:05:00,f,2017,4,7

In [10]:
# Check for data types of all columns
df.dtypes

name               object
age                 int64
department         object
cgpa              float64
admission_date     object
gender             object
dtype: object

In [12]:
# Check for percentage of  missing values
df.isnull().sum()/df.shape[0]*100

name              0.0
age               0.0
department        0.0
cgpa              0.0
admission_date    0.0
gender            0.0
dtype: float64

In [13]:
# Check unique values in each of the columns

In [17]:
df.name.unique()

array(['bayo', 'tunde', 'bola', 'wunmi', 'jide', 'kola', 'shade',
       'gideon', 'tolu', 'evelyn'], dtype=object)

In [18]:
df.age.unique()

array([20, 23, 26, 30, 33, 28, 27])

In [19]:
df.department.unique()

array(['microbiology', 'botany', 'biochemistry', 'zoology'], dtype=object)

In [20]:
df.admission_date.unique()

array([<function to_datetime at 0x7f4afa65b320>], dtype=object)

In [21]:
df.gender.unique()

array(['m', 'f'], dtype=object)

In [22]:
# Check number of unique values in each of the columns

In [23]:
df.name.nunique()

10

In [24]:
df.age.nunique()

7

In [25]:
df.department.nunique()

4

In [46]:
df.admission_date.nunique()

10

In [27]:
df.gender.nunique()

2

In [ ]:
# Check value counts for each of the columns

In [28]:
df.name.value_counts()

bayo      1
tunde     1
bola      1
wunmi     1
jide      1
kola      1
shade     1
gideon    1
tolu      1
evelyn    1
Name: name, dtype: int64

In [29]:
df.age.value_counts()

26    3
23    2
20    1
30    1
33    1
28    1
27    1
Name: age, dtype: int64

In [30]:
df.department.value_counts()

botany          4
microbiology    2
biochemistry    2
zoology         2
Name: department, dtype: int64

In [47]:
df.admission_date.value_counts()

2015-02-01 09:00:00    1
2015-02-01 09:30:00    1
2017-04-07 07:45:00    1
2016-01-07 08:10:00    1
2015-02-01 10:01:00    1
2014-01-03 10:00:00    1
2016-04-07 09:15:00    1
2017-01-07 12:00:00    1
2015-02-01 12:00:00    1
2017-04-07 09:05:00    1
Name: admission_date, dtype: int64

In [32]:
df.gender.value_counts()

m    5
f    5
Name: gender, dtype: int64

In [25]:
# df.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            10 non-null     object
 1   age             10 non-null     int64
 2   department      10 non-null     object
 3   cgpa            10 non-null     float64
 4   admission_date  10 non-null     object
 5   gender          10 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 608.0+ bytes

In [13]:
# How many rows and columns do you have? show it with df.shape
df.shape

(10, 6)

In [18]:
# Subset the dataframe for male gender
df.query("gender=='male'") # complete the code

Empty DataFrame
Columns: [name, age, department, cgpa, admission_date, gender]
Index: []

In [ ]:
# Find the mean,max, min, sum CGPA

In [11]:
dmean= df['cgpa'].mean()
dmax = df['cgpa'].max() 
dmin = df['cgpa'].min() 
dsum = df['cgpa'].sum()
print('The mean is ', dmean)
print('The maximum value is ', dmax)  
print('The minimum value is ',dmin)
print('The sum is ',dsum)

The mean is  3.4130000000000003
 the maximum value is  4.21
The minimum value is  2.33
The sum is  34.13

In [48]:
# Check your df to be sure that you have all the rows and columns
df
# write your data frame to a csv file

,name,age,department,cgpa,admission_date,gender,year,month,day
0,bayo,20,microbiology,3.92,2015-02-01 09:00:00,m,2015,2,1
1,tunde,23,botany,3.55,2015-02-01 09:30:00,m,2015,2,1
2,bola,23,biochemistry,2.60,2017-04-07 07:45:00,f,2017,4,7
3,wunmi,26,botany,4.21,2016-01-07 08:10:00,f,2016,1,7
4,jide,30,microbiology,2.79,2015-02-01 10:01:00,m,2015,2,1
5,kola,33,botany,3.50,2014-01-03 10:00:00,m,2014,1,3
6,shade,28,botany,4.12,2016-04-07 09:15:00,f,2016,4,7
7,gideon,26,biochemistry,3.62,2017-01-07 12:00:00,m,2017,1,7
8,tolu,27,zoology,2.33,2015-02-01 12:00:00,f,2015,2,1
9,evelyn,26,zoology,3.49,2017-04-07 09:05:00,f,2017,4,7

In [51]:
df.to_csv('df.csv', index=False)   # complete the code # remeber to set index parameter to False
# Download the csv file

### Submission
Create a folder on your desktop and name it Project 1

Move your notebook and the csv you downloaded to the folder

Create a github account if you haven't

Create a repository for the class and name it Python for Data Science (click on the + sign by the top right corner)

Click upload an existing file 

Drag the Project 1 folder containing your code and the csv file into the Drag here field (Do not click on choose your files)

Click on the repository name to go the repository home page

Click on the address bar to copy the repository link

Submit the link privately to me